#E { 
	position: absolute;
	top: 0px;
	left: 0px;
}

#D { 
	position: absolute;
	top: 10px;
	left: 46px;
}

#I { 
	position: absolute;
	top: 0px;
	left: 92px;
}

#T { 
	position: absolute;
	top: 40px;
	left: 110px;
}

#O { 
	position: absolute;
	top: 20px;
	left: 154px;
}

#R { 
	position: absolute;
	top: 20px;
	left: 200px;
}

#I-2 { 
	position: absolute;
	top: 15px;
	left: 246px;
}

#A { 
	position: absolute;
	top: 0px;
	left: 264px;
}

#L { 
	position: absolute;
	top: 20px;
	left: 308px;
}
