#E {
    position: absolute;
    top: 0px;
    left: 0px;
}

#D {
    position: absolute;
    top: 10px;
    left: 65px;
}

#I {
    position: absolute;
    top: 0px;
    left: 130px;
}

#T {
    position: absolute;
    top: 40px;
    left: 155px;
}

#O {
    position: absolute;
    top: 20px;
    left: 218px;
}

#R {
    position: absolute;
    top: 20px;
    left: 285px;
}

#I-2 {
    position: absolute;
    top: 15px;
    left: 350px;
}

#A {
    position: absolute;
    top: 0px;
    left: 375px;
}

#L {
    position: absolute;
    top: 20px;
    left: 440px;
}

@media (max-width: 992px) {
    #D {
        left: 46px;
    }
    #I {
        left: 92px;
    }
    #T {
        left: 110px;
    }
    #O {
        left: 154px;
    }
    #R {
        left: 200px;
    }
    #I-2 {
        left: 246px;
    }
    #A {
        left: 264px;
    }
    #L {
        left: 308px;
    }
}