#G { 
	position: absolute;
	top: 0px;
	left: 0px;
}

#O { 
	position: absolute;
	top: 10px;
	left: 45px;
}

#V { 
	position: absolute;
	top: 16px;
	left: 88px;
}

#E { 
	position: absolute;
	top: 0px;
	left: 130px;
}

#R { 
	position: absolute;
	top: 16px;
	left: 175px;
}

#N { 
	position: absolute;
	top: 10px;
	left: 220px;
}

#M { 
	position: absolute;
	top: 16px;
	left: 265px;
}

#E-2 { 
	position: absolute;
	top: 10px;
	left: 320px;
}

#N-2 { 
	position: absolute;
	top: 10px;
	left: 365px;
}

#T { 
	position: absolute;
	top: 10px;
	left: 410px;
}

#A { 
	position: absolute;
	top: 20px;
	left: 445px;
}

#L { 
	position: absolute;
	top: 10px;
	left: 488px;
}

@media (max-width: 576px) {
	#O { left: 30px; }
	#V { left: 60px; }
	#E { left: 90px; }
	#R { left: 120px; }
	#N { left: 150px; }
	#M { left: 180px; }
	#E-2 { left: 216px; }
	#N-2 { left: 245px; }
	#T { left: 276px; }
	#A { left: 296px; }
	#L { left: 323px; }
}
