#M { 
	position: absolute;
	top: 0px;
	left: 0px;
}

#A { 
	position: absolute;
	top: 30px;
	left: 55px;
}

#G { 
	position: absolute;
	top: 20px;
	left: 100px;
}

#A-2 { 
	position: absolute;
	top: 5px;
	left: 150px;
}

#Z { 
	position: absolute;
	top: 30px;
	left: 198px;
}

#I { 
	position: absolute;
	top: 40px;
	left: 245px;
}

#N { 
	position: absolute;
	top: 5px;
	left: 265px;
}

#E { 
	position: absolute;
	top: 50px;
	left: 314px;
}

@media (max-width: 576px) {
	#A { left: 45px; }
	#G { left: 85px; }
	#A-2 { left: 128px; }
	#Z { left: 168px; }
	#I { left: 208px; }
	#N { left: 228px; }
	#E { left: 268px; }
}

