@font-face {
    font-family: 'tall_dark_and_handsomeCn';
    src: url('fonts/talldark-webfont.woff2') format('woff2'),
         url('fonts/talldark-webfont.woff') format('woff'),
         url('fonts/talldark.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'publicoblack';
    src: url('fonts/publico-black-webfont.woff2') format('woff2'),
         url('fonts/publico-black-webfont.woff') format('woff'),
         url('fonts/publico-black.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'publicobold';
    src: url('fonts/publico-bold-webfont.woff2') format('woff2'),
         url('fonts/publico-bold-webfont.woff') format('woff'),
         url('fonts/publico-bold.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Publico Text Web';
    src: url('PublicoTextWeb-Semibold.eot');
    src: url('PublicoTextWeb-Semibold.eot?#iefix') format('embedded-opentype'),
        url('PublicoTextWeb-Semibold.woff2') format('woff2'),
        url('PublicoTextWeb-Semibold.woff') format('woff'),
        url('PublicoTextWeb-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'publicoitalic';
    src: url('fonts/publico-italic-webfont.woff2') format('woff2'),
         url('fonts/publico-italic-webfont.woff') format('woff'),
         url('fonts/publico-italic.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'publico_textroman';
    src: url('fonts/publicotext-roman-webfont.woff2') format('woff2'),
         url('fonts/publicotext-roman-webfont.woff') format('woff'),
         url('fonts/publicotext-roman.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'weekendcondensedbold';
    src: url('fonts/weekebolcon-webfont.woff2') format('woff2'),
         url('fonts/weekebolcon-webfont.woff') format('woff'),
         url('fonts/weekebolcon.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'publico_textroman';
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.main-content { padding: 4rem 0; }
.col-spacing { padding: 0 .3rem; }
.position-rel { position: relative; }

ul {
	list-style-position: inside;
	padding: 0;
}
ul li {
	color: #fff;
	font-size: .8rem;
}

.pages-navigation {
	position: fixed;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.bt-navigation {
	background-color: rgba(108,117,125,0.3);
	width: 50px;
	height: 50px;
	padding: 1.2rem;
	transition: all .5s ease-out;
}

.bt-navigation:hover {
	background-color: rgba(108,117,125,0.8);
}

.bt-navigation.prev {
	position: absolute;
	left: 15px;
}

.bt-navigation.next {
	position: absolute;
	right: 15px;
}

/* Backgrounds */
.bg-black { background-color: #000; }
.bg-red { background-color: #EC1C24; }

#editorial .menu-internas, #magazine .menu-internas { background: none; }

/* Estilos de texto */
p {
	color: #fff;
	font-size: 1rem;
}

h1, h2 { color: #fff; }

h2 { margin-bottom: 2rem; }

.tit-internas {
	color: #fff;
	font-family: 'tall_dark_and_handsomeCn';
	font-size: 10rem;
	letter-spacing: .2rem;
	line-height: 7.5rem;
	margin: 0;
}

.ft-regular { font-family: 'publico_textroman'; }
.ft-italic { font-family: 'publicoitalic'; }
.ft-bold { font-family: 'publicobold'; }
.ft-semibold { font-family: 'Publico Text Web'; }
.ft-black { font-family: 'publicoblack'; }

.ft-color-black { color: #000; }

/* Imagens */
.img-container { overflow: hidden; }

.img-container img {
   /*width: 100%;
   height: 100%;*/
   -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
}

.img-container:hover img {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
   position:relative;
   z-index: 1;
}

#image-gallery .modal-footer { display: block; }

/* Banner Internas */
.banner-internas {
	margin-bottom: 3rem;
	padding: 2rem 0;
}

.banner-internas .tit-internas.ft-small {
	font-size: 5rem;
	line-height: 4rem;
}

.banner-internas .box-tit-internas {
	width: 180px;
	height: 180px;
}

.banner-internas .subtit-internas {
	font-family: 'weekendcondensedbold';
	font-size: 3rem;
	margin-bottom: .8rem;
}

.banner-internas .descricao {
	font-size: 1rem;
	line-height: 1.4rem;
}

.banner-internas .info-client {
	font-size: .8rem;
	line-height: 1rem;
}

/****** MENU ******/
.navbar { padding: 0; }
.navbar-nav { font-family: 'tall_dark_and_handsomeCn'; }

.navbar-nav .nav-link, .dropdown-item {
	font-size: 1.5rem;
	letter-spacing: .1rem;
	line-height: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link { color: #fff; }
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .active {
	color: #fff;
	opacity: 0.7;
}

.dropdown-menu {
	border-radius: 0;
	border: 0;
	min-width: 7rem;
}

.dropdown-item { color: #000; }

.dropdown-item:hover {
	background: none;
	opacity: 0.7;
}

.dropdown-item:focus { color: #7f7f7f; }

.dropdown-toggle::after { content: none; }

.dropdown-item { padding: .2rem .8rem; }

.navbar-expand-lg .navbar-nav .nav-link { padding: .2rem .8rem; }

.navbar-toggler { border-color: #fff; }

.redes-sociais a { margin-right: .6rem; }

/* Menu Internas */
.menu-internas {
	background-color: #fff;
	padding: 1.5rem 0 .5rem 0;
}

.menu-internas .navbar-light .navbar-nav .nav-link { color : #7f7f7f; }
.menu-internas .navbar-light .navbar-nav .nav-item:hover .nav-link,
.menu-internas .navbar-light .navbar-nav .nav-item:focus .nav-link { color: #000; }
.menu-internas .navbar-light .navbar-toggler { border-color: #7f7f7f; }

/* Animações */
@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
	0% { opacity: 0;}
	100% { opacity: 1; }
}
@-o-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.fadeIn {
opacity:0;
-webkit-animation: fadeIn 2s ease-in-out;
-moz-animation: fadeIn 2s ease-in-out;
-o-animation: fadeIn 2s ease-in-out;
animation: fadeIn 2s ease-in-out; 
-webkit-animation-fill-mode:forwards;
-moz-animation-fill-mode:forwards;
-o-animation-fill-mode:forwards;
animation-fill-mode:forwards;}


/************ HOME ************/
#home { height: 100vh; }

.perfil-mobile { display: none; }

/* Animações - home */
#home .fadeImg-delay {	
-webkit-animation-delay:1s;
-moz-animation-delay:1s;
-o-animation-delay:1s;
animation-delay:1s;
}
#home .fade2-delay {	
-webkit-animation-delay:2s;
-moz-animation-delay:2s;
-o-animation-delay:2s;
animation-delay:2s;
}



/************ WORK ************/
.work-animate {
	color: #fff;
	font-family: 'tall_dark_and_handsomeCn';
	font-size: 18rem;
	line-height: 14rem;
	margin-bottom: 2rem;
}

/* Animações - page Work */
.work-animate .fade-delay {	
-webkit-animation-delay:.5s;
-moz-animation-delay:.5s;
-o-animation-delay:.5s;
animation-delay:.5s;
}
.work-animate .fade2-delay {	
-webkit-animation-delay:1s;
-moz-animation-delay:1s;
-o-animation-delay:1s;
animation-delay:1s;
}
.work-animate .fade3-delay {	
-webkit-animation-delay:1.5s;
-moz-animation-delay:1.5s;
-o-animation-delay:1.5s;
animation-delay:1.5s;
}



/************ CLIENTS ************/
#clients { height: 100vh; }



/************ EDITORIAL ************/
.editorial-animate {
	color: #fff;
	font-family: 'tall_dark_and_handsomeCn';
	font-size: 16rem;
	height: 225px;
	line-height: 12rem;
	margin-bottom: 2rem;
	width: 505px;
}

#editorial {
	background-image: url('../images/editorial/bg-editorial.jpg');
	background-size: cover;
}

.editorial-internas .editorial-animate {
	font-size: 10rem;
	height: 162px;
	line-height: 8rem;
	width: 350px;
	margin-top: 2rem;
}

.editorial-internas .banner-internas .subtit-internas {
	font-family: 'Publico Text Web';
	font-size: 2rem;
}

/* Animações - page Editorial */
#editorial .fade-delay {	
-webkit-animation-delay:.5s;
-moz-animation-delay:.5s;
-o-animation-delay:.5s;
animation-delay:.5s;
}
#editorial .fade2-delay {	
-webkit-animation-delay:1s;
-moz-animation-delay:1s;
-o-animation-delay:1s;
animation-delay:1s;
}
#editorial .fade3-delay {	
-webkit-animation-delay:1.5s;
-moz-animation-delay:1.5s;
-o-animation-delay:1.5s;
animation-delay:1.5s;
}
#editorial .fade4-delay {	
-webkit-animation-delay:2s;
-moz-animation-delay:2s;
-o-animation-delay:2s;
animation-delay:2s;
}
#editorial .fade5-delay {	
-webkit-animation-delay:2.5s;
-moz-animation-delay:2.5s;
-o-animation-delay:2.5s;
animation-delay:2.5s;
}
#editorial .fade6-delay {	
-webkit-animation-delay:3s;
-moz-animation-delay:3s;
-o-animation-delay:3s;
animation-delay:3s;
}
#editorial .fade7-delay {	
-webkit-animation-delay:3.5s;
-moz-animation-delay:3.5s;
-o-animation-delay:3.5s;
animation-delay:3.5s;
}
#editorial .fade8-delay {	
-webkit-animation-delay:4s;
-moz-animation-delay:4s;
-o-animation-delay:4s;
animation-delay:4s;
}

/* Casa Fares */
.bg-casa-fares {
	background: url('../editorial/casa-fares/images/bg-casa-fares.jpg') no-repeat;
	padding: 4rem;
}

/* Christmas */
.banner-internas.bg-christmas {
	background: url('../editorial/christmas/images/bg-christmas.jpg') no-repeat center;
	background-size: cover;
}

#editorial-christmas .bg-circle-red {
	background: url('../editorial/christmas/images/bg-circle-red.png') no-repeat center;
	background-size: contain;
}

/* Especial America */
.banner-internas.bg-especial-america {
	background: url('../editorial/especial-america/images/bg-especial-america.jpg') no-repeat center;
	background-size: cover;
}

#editorial-especial-america .bg-circle-orange {
	background: url('../editorial/especial-america/images/bg-circle-orange.png') no-repeat center;
	background-size: contain;
}

.img-absolute {
	position: absolute;
	top: -200px;
	max-width: 350px;
}

/* Santa Helena */
.banner-internas.bg-santa-helena {
	background: url('../editorial/santa-helena/images/bg-santa-helena.jpg') no-repeat center;
	background-size: cover;
}

.banner-internas.bg-santa-helena .box-tit-internas {
	background: url('../editorial/santa-helena/images/circle-red.png') no-repeat center;
	width: 300px;
	height: 300px;
}

/* Summer */
.banner-internas.bg-summer {
	background: url('../editorial/summer/images/bg-summer.jpg') no-repeat center;
	background-size: cover;
}

#editorial-summer .bg-circle-yellow {
	background: url('../editorial/summer/images/bg-circle-yellow.png') no-repeat;
	background-size: contain;
}

/* Suxxar */
.banner-internas.bg-suxxar {
	background: url('../editorial/suxxar/images/bg-suxxar.jpg') no-repeat center;
	background-size: cover;
}

#editorial-suxxar .bg-circle-red {
	background: url('../editorial/suxxar/images/bg-circle-red.png') no-repeat center;
	background-size: contain;
}

.banner-internas.bg-suxxar .box-tit-internas {
	background: url('../editorial/suxxar/images/circle-red.png') no-repeat center;
	width: 300px;
	height: 300px;
}



/************ GOVERNMENTAL ************/
#governmental {
	background-image: url('../images/governmental/bg-governmental.jpg');
	background-size: cover;
	background-position: center;
}

#governmental .tit-internas,
.governmental-internas .tit-internas {
	width: 530px;
	height: 135px;
}

.border-footer-green { border-top: 10px solid #2B650E; }
.border-footer-blue { border-top: 10px solid #7096B5; }

/* Atibaia */
.banner-internas.bg-atibaia {
	background: #2B650E url('../governmental/atibaia/images/teste.jpg') no-repeat center;
	background-size: cover;
}

/* Cremesp */
.banner-internas.bg-cremesp {
	background: #6f96b5 url('../governmental/cremesp/images/bg-cremesp.jpg') no-repeat center;
	background-size: cover;
}

/* Doctor's Day */
.banner-internas.bg-doctors-day {
	background: url('../governmental/doctors-day/images/bg-doctors-day.jpg') no-repeat center;
	background-size: cover;
}

#governmental-doctors-day .bg-green { background-color: #748679; }

#governmental-doctors-day .bg-circle-green {
	background: #74867a url('../governmental/doctors-day/images/bg-circle-green.jpg') no-repeat center;
	background-size: contain;
}

/* Animações - page Governmental */
#governmental .fade-delay {	
-webkit-animation-delay:.5s;
-moz-animation-delay:.5s;
-o-animation-delay:.5s;
animation-delay:.5s;
}
#governmental .fade2-delay {	
-webkit-animation-delay:1s;
-moz-animation-delay:1s;
-o-animation-delay:1s;
animation-delay:1s;
}
#governmental .fade3-delay {	
-webkit-animation-delay:1.5s;
-moz-animation-delay:1.5s;
-o-animation-delay:1.5s;
animation-delay:1.5s;
}
#governmental .fade4-delay {	
-webkit-animation-delay:2s;
-moz-animation-delay:2s;
-o-animation-delay:2s;
animation-delay:2s;
}
#governmental .fade5-delay {	
-webkit-animation-delay:2.5s;
-moz-animation-delay:2.5s;
-o-animation-delay:2.5s;
animation-delay:2.5s;
}
#governmental .fade6-delay {	
-webkit-animation-delay:3s;
-moz-animation-delay:3s;
-o-animation-delay:3s;
animation-delay:3s;
}
#governmental .fade7-delay {	
-webkit-animation-delay:3.5s;
-moz-animation-delay:3.5s;
-o-animation-delay:3.5s;
animation-delay:3.5s;
}
#governmental .fade8-delay {	
-webkit-animation-delay:4s;
-moz-animation-delay:4s;
-o-animation-delay:4s;
animation-delay:4s;
}
#governmental .fade9-delay {	
-webkit-animation-delay:4.5s;
-moz-animation-delay:4.5s;
-o-animation-delay:4.5s;
animation-delay:4.5s;
}
#governmental .fade10-delay {	
-webkit-animation-delay:5s;
-moz-animation-delay:5s;
-o-animation-delay:5s;
animation-delay:5s;
}
#governmental .fade11-delay {	
-webkit-animation-delay:5.5s;
-moz-animation-delay:5.5s;
-o-animation-delay:5.5s;
animation-delay:5.5s;
}



/************ ID ************/
#identity { height: 100vh; }

#identity h1 {
	color: #3f3f3f;
	font-size: 18rem;
	line-height: 13rem;
}

#identity .tit-identity p {
	color: #000;
	font-size: 2rem;
}

#identity .main-content img {
	margin-bottom: 1.5rem;
}



/************ MAGAZINE ************/
#magazine {
	background-image: url('../images/magazine/bg-magazine.gif');
	background-size: 50%;
}

#magazine .tit-internas,
.magazine-internas .tit-internas {
	width: 355px;
	height: 165px;
	margin-bottom: 2rem;
}

.magazine-internas .banner-internas .subtit-internas {
	font-family: 'Publico Text Web';
	font-size: 2rem;
}

.bg-circle-gray {
	background: url('../magazine/aluminio/images/bg-circle-gray.png') repeat-y center;
	background-size: contain;
}

.bg-circle-orange {
	background: url('../magazine/comgas/images/bg-circle-orange.png') repeat-y center;
	background-size: contain;
}

/* Aluminio */
.banner-internas.bg-aluminio {
	background: #fff url('../magazine/aluminio/images/bg-aluminio.png') no-repeat center;
	background-size: cover;
}

/* Comgas */
.banner-internas.bg-comgas {
	background: #fff url('../magazine/comgas/images/bg-comgas.png') no-repeat center;
	background-size: contain;
}

/* Eucatex */
.banner-internas.bg-eucatex {
	background: #fff url('../magazine/eucatex/images/bg-eucatex.png') no-repeat center;
	background-size: contain;
}


/* Animações - page Magazine */
#magazine .fade-delay {	
-webkit-animation-delay:.5s;
-moz-animation-delay:.5s;
-o-animation-delay:.5s;
animation-delay:.5s;
}
#magazine .fade2-delay {	
-webkit-animation-delay:1s;
-moz-animation-delay:1s;
-o-animation-delay:1s;
animation-delay:1s;
}
#magazine .fade3-delay {	
-webkit-animation-delay:1.5s;
-moz-animation-delay:1.5s;
-o-animation-delay:1.5s;
animation-delay:1.5s;
}
#magazine .fade4-delay {	
-webkit-animation-delay:2s;
-moz-animation-delay:2s;
-o-animation-delay:2s;
animation-delay:2s;
}
#magazine .fade5-delay {	
-webkit-animation-delay:2.5s;
-moz-animation-delay:2.5s;
-o-animation-delay:2.5s;
animation-delay:2.5s;
}
#magazine .fade6-delay {	
-webkit-animation-delay:3s;
-moz-animation-delay:3s;
-o-animation-delay:3s;
animation-delay:3s;
}
#magazine .fade7-delay {	
-webkit-animation-delay:3.5s;
-moz-animation-delay:3.5s;
-o-animation-delay:3.5s;
animation-delay:3.5s;
}



/************ PROJECTS ************/
#projects {
	background: url('../images/projects/bg-projects.png') center;
	background-size: cover;
}

#image-gallery .modal-footer{ display: block; }

#projects .tit-internas {
	width: 365px;
	height: 154px;
}

#projects .thumbnail img { margin-bottom: .5rem; }


/* Animações - page Projects */
#projects .fade-delay {	
-webkit-animation-delay:.5s;
-moz-animation-delay:.5s;
-o-animation-delay:.5s;
animation-delay:.5s;
}
#projects .fade2-delay {	
-webkit-animation-delay:1s;
-moz-animation-delay:1s;
-o-animation-delay:1s;
animation-delay:1s;
}
#projects .fade3-delay {	
-webkit-animation-delay:1.5s;
-moz-animation-delay:1.5s;
-o-animation-delay:1.5s;
animation-delay:1.5s;
}
#projects .fade4-delay {	
-webkit-animation-delay:2s;
-moz-animation-delay:2s;
-o-animation-delay:2s;
animation-delay:2s;
}
#projects .fade5-delay {	
-webkit-animation-delay:2.5s;
-moz-animation-delay:2.5s;
-o-animation-delay:2.5s;
animation-delay:2.5s;
}
#projects .fade6-delay {	
-webkit-animation-delay:3s;
-moz-animation-delay:3s;
-o-animation-delay:3s;
animation-delay:3s;
}
#projects .fade7-delay {	
-webkit-animation-delay:3.5s;
-moz-animation-delay:3.5s;
-o-animation-delay:3.5s;
animation-delay:3.5s;
}



/************ WEB ************/
#web {
	background-image: url('../images/web/bg-web.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 12%;
}

#web .bg-circle {
	background-image: url('../images/web/circle.svg');
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: left bottom;
}

#web-diego-rocha .tit-internas,
#web-kaza .tit-internas,
#web-tecto .tit-internas {
	width: 182px;
	height: 80px;
}

/* Diego Rocha */
.banner-internas.bg-diego-rocha {
	background: #323F51 url('../web/diego-rocha/images/bg-diego-rocha.jpg') no-repeat right;
}

.banner-internas.bg-diego-rocha .box-tit-internas {
	background: url('../web/diego-rocha/images/circle-light-blue.png') no-repeat center;
}

/* Kaza */
.banner-internas.bg-kaza {
	background: #c16c11 url('../web/kaza/images/bg-kaza.jpg') no-repeat right;
}

.banner-internas.bg-kaza .box-tit-internas {
	background: url('../web/kaza/images/circle-orange.png') no-repeat center;
}

/* Tecto */
.banner-internas.bg-tecto {
	background: #094b74 url('../web/tecto/images/bg-tecto.jpg') no-repeat right;
}

.banner-internas.bg-tecto .box-tit-internas {
	background: url('../web/tecto/images/circle-blue.png') no-repeat center;
}


/* Animações - page Web */
#web .fade-delay {	
-webkit-animation-delay:.5s;
-moz-animation-delay:.5s;
-o-animation-delay:.5s;
animation-delay:.5s;
}
#web .fade2-delay {	
-webkit-animation-delay:1s;
-moz-animation-delay:1s;
-o-animation-delay:1s;
animation-delay:1s;
}



/****** FOOTER ******/
footer {
	background-color: #000;
	padding: 1rem 0;
}

footer p {
	color: #828282;
	font-family: Verdana;
	font-size: 12px;
	margin-bottom: 0;
}

footer span { font-size: 10px; }



@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}


@media (max-width: 992px) {

	.editorial-animate {
		font-size: 10.5rem;
		height: 162px;
		line-height: 8rem;
		width: 350px;
	}

	#web .tit-internas { text-align: center; }
	#web .bg-circle { background-position: center top; }

	#governmental .tit-internas,
	.governmental-internas .tit-internas {
		margin: 0 auto 2rem auto;
	}

}

@media (max-width: 768px) {

	.box-tit-internas { margin-bottom: 3rem; }

	.banner-internas.bg-diego-rocha,
	.banner-internas.bg-kaza,
	.banner-internas.bg-tecto {
		background-image: none;
	}

	.img-absolute {
		position: relative;
		top: auto;
		margin-bottom: 2rem;
	}

}

@media (max-width: 576px) {

	.perfil-mobile {
		display: block;
		margin: 0 auto 2rem auto;
	}
	.perfil { display: none; }

	#clients .main-content img { margin-bottom: 1.5rem; }

	.tit-internas {
		font-size: 8rem;
		margin: 0 auto 2rem auto;
	}

	#governmental .tit-internas,
	.governmental-internas .tit-internas { font-size: 6.5rem; }

	#projects .tit-internas { width: 290px; }
	#magazine .tit-internas,
	.magazine-internas .tit-internas { width: 300px; }
	#governmental .tit-internas,
	.governmental-internas .tit-internas { width: 350px; }

	footer p { font-size: 10px; }

}

